/* Write your CSS here! */

:root {
    /* color scheme inspired by https://images.squarespace-cdn.com/content/v1/5720ede5555986b16f146642/1637544782211-RNG659BO3A02V06OTN9W/Wood+Pile+SQ.jpg */
    --text-dark-color: rgba(2, 24, 37, 1);
    --text-light-color: rgba(67, 74, 84, 1);
    --light-bg-color: rgba(220, 204, 189, 1);
    --dark-bg-color: rgba(212, 153, 111, 1);
    --accent-color: rgba(177, 76, 50, 1);
    --nav-background-color: rgba(220, 204, 189, 0.85);
    --body-background-color: rgba(231, 241, 243, 1);
    --container-max-width: 1399px;
    --min-padding: 0.5rem;
    --min-gap: 1.8rem;

}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    background-color: var(--body-background-color);
    /* background courtesy: https://www.pixeden.com/graphic-web-backgrounds/subtle-light-tile-pattern-vol6 */
    background: url('images/03-light-carpet.png');
    backdrop-filter: brightness(80%);
    backdrop-filter: contrast(80%);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--text-dark-color);
}

.container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    background-color: white;
    background: url('images/02-heavy-paper.png');
}

/* stuff only for passing the test */
#mainHeading {
    color: red;
}

.funParagraph {
    color: green;
}

/* Navigation Styles */

header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header .container {
    display: grid;
    grid-template-columns: auto minmax(600px, 3fr);
    background-color: var(--nav-background-color);
    background: url('images/04-polish-wood.png');
    box-shadow: 0 3px 3px -2px hsla(217, 19%, 35%, 0.2);
}

.logo {
    font-size: 2rem;
    padding: var(--min-padding);
}

.logo-img {
    max-width: 2.5rem;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: var(--min-padding);
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--min-gap);
}

nav li {
    padding: var(--min-padding);
    border-bottom: 2px solid transparent;
}

nav a {
    color: var(--text-light-color);
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
}

nav a:hover {
    color: var(--accent-color);
}

nav li:has(.nav-link.active) {
    border-bottom: 2px solid var(--accent-color);
}

.nav-link.active {
    color: var(--accent-color);
}

/* end of header section styles */

/* main common styles */

main section {
    padding: 3rem var(--min-gap);
    min-height: 80vh;
    color: var(--text-light-color);
}

.section-heading {
    color: var(--text-light-color);
    text-align: center;
    margin: var(--min-gap) 0 var(--min-padding) 0;
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5rem;
}

.section-subheading {
    color: var(--accent-color);
    text-align: center;
    margin: 0 0 var(--min-gap) 0;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.section-subheading::after {
    content: "";
    display: block;
    height: 25px;
    background-image: url('images/heading-bottom-border-25x320.png');
    /* Image by https://www.freepik.com/free-vector/calligraphic-ornamental-divider-collection_12261828.htm */
    background-repeat: no-repeat;
    background-position: center bottom;
    opacity: 0.4;
}

.accent {
    color: var(--accent-color);
}

.accent-color {
    color: var(--accent-color);
}

.weight-med {
    font-weight: 500;
}

/* Hero section styles */

#hero {
    position: relative;
    min-height: 90vh;
    overflow: hidden;
}

#hero .hero-left {
    position: absolute;
    top: 100px;
    left: -200px;
    width: 500px;
    transform: rotate(50deg);
    opacity: 0.5;
    /* background-color: var(--light-bg-color); */
}

#hero .hero-right {
    position: absolute;
    top: 100px;
    right: -150px;
    width: 500px;
    transform: rotate(-40deg);
    /* background-color: var(--light-bg-color); */
    padding-right: 1rem;
    opacity: 0.7;
}

.hero-headline {
    width: 50%;
    margin: 150px auto 3rem auto;
    text-align: center;
    font-family: "Solitreo", cursive;
    position: relative;
}

.hero-headline::after {
    content : "";
    position: absolute;
    left    : 40%;
    bottom  : 0;
    height  : 1px;
    width   : 20%;
    border-bottom: 4px dotted var(--light-bg-color);
}

.hero-headline h3 {
    font-size: 2rem;
}

.hero-headline h1 {
    font-size: 5rem;
}

.hero-description {
    width: 40%;
    margin: 0 auto;
    color: var(--accent-color);
    text-align: center;
    font-family: "Solitreo", cursive;
    font-size: 1.2rem;
}

/* About section styles */

.about-content {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.about-left {
    text-align: right;
    padding: 3rem 3rem;
}

.about-right {
    text-align: left;
    padding: 3rem 3rem;
    border-left: 2px solid var(--light-bg-color); 
}

.hobbies-para {
    text-align: center;
    font-family: "Solitreo", cursive;
    color: var(--accent-color);
    font-size: 1.2rem;
    margin: 2rem 1rem 1rem 1rem;
}

.hobbies-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
}
  
.hobby {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}
  
.about-sub-icon {
    height: 6rem;
    width: 6rem;
    opacity: 0.6;
    border: 2px solid var(--text-light-color);
    border-radius: 50%;
    /* background-color: var(--light-bg-color); */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hobby h4 {
    font-family: "Solitreo", cursive;
    font-size: 1rem;
    color: var(--text-light-color);
}

/* Profile section styles */

.profile-content {
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-left {
    text-align: center;
    padding: 3rem 3rem;
}

.profile-right {
    text-align: left;
    padding: 3rem 3rem;
    border-left: 2px solid var(--light-bg-color); 
}

.profile-pic {
    width: 180px;
    border-radius: 50%;
    border: solid 4px transparent;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
    margin-bottom: 1.5rem;
}

.profile-name {
    font-family: "Solitreo", cursive;
    font-size: 1.5rem;
    color: var(--text-dark-color);
}

.profile-designation {
    font-size: 1.1rem;
    color: var(--accent-color);
    margin: 2rem 0;
}

.intro {
    font-family: "Solitreo", cursive;
    font-weight: 400;
    font-size: 1.1rem;
    margin: 1.2rem 0;
    color: var(--text-light-color);
}

.education {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 1rem 0; 
    color: var(--text-dark-color);
}

.CTA-resume {
    margin: 2.5rem 0;
}

.resume {
    padding: 0.5rem 0.8rem;
    border: 1px solid var(--accent-color);
    border-radius: 0.5rem;
    text-decoration: none;
    color: var(--accent-color);
    font-weight: 500;
}

.resume:hover {
    background-color: var(--accent-color);
    color: white;
    border: solid 1px var(--accent-color);
}

.profile-icons {
    font-size: 2rem;
}
  
.profile-icon-links {
    text-decoration: none;
    color: inherit;
    margin: 0.2rem 0.5rem;
}
  
.profile-icon-links:hover {
    text-decoration: none;
    color: var(--accent-color);
}
  
.profile-subhead {
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    font-family: "Solitreo", cursive;
    color: var(--accent-color);
    font-weight: 700;
    border-bottom: 1px solid var(--accent-color);
    text-transform: uppercase;
}

.experience {
    font-weight: 300;
    font-size: 0.9rem;
    margin: 1rem 0; 
    color: var(--text-dark-color);
}

.courses-list {
    margin-left: 1rem;
}

.course {
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--text-dark-color);
}

#profile .weight-med {
    color: var(--text-light-color);
}

.low-profile-links {
    text-decoration: none;
    color: inherit;
}
  
.low-profile-links:hover {
    text-decoration: none;
    color: var(--accent-color);
}
  
.highlighted-skills {
    font-weight: 400;
    font-size: 0.8rem;
    background-color: var(--light-bg-color);
    border: 1px solid var(--dark-bg-color);
    color: var(--accent-color);
    border-radius: 5px;
    padding: 0.2rem 0.8rem;
    margin-right: 0.2rem;
    line-height: 2.5rem;
    white-space: nowrap;
}
  
.skills {
    font-weight: 300;
    font-size: 0.8rem;
    background-color: #F0F0F0;
    background-color: var(--nav-background-color);
    color: var(--text-dark-color);
    border-radius: 5px;
    padding: 0.2rem 0.4rem;
    margin-right: 0.2rem;
    white-space: nowrap;
    line-height: 2.5rem;
}  

/* Projects section styles */

.projects-intro {
    text-align: center;
    padding: 0 160px;
    margin-bottom: 2.5rem;
}

.projects-intro a {
    text-decoration: dotted underline var(--accent-color);
    color: inherit;
}

.projects-intro a:hover {
    text-decoration: none;
    color: var(--accent-color);
    background-color: var(--light-bg-color);
}

.projects-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-content-left {
    text-align: center;
    padding: 3rem 3rem;
}

.projects-content-right {
    text-align: left;
    padding: 0;
    border-left: 2px solid var(--light-bg-color); 
}
  
.collapsible-project-item {
    padding: 1rem 1rem;
    border-left: 4px solid transparent;
}
  
.collapsible-project-header {
    padding: 0.2rem 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: 1.2rem;
}
  
.collapsible-project-header::after {
    content: "\002B";
    font-size: 2rem;
    line-height: 100%;
    font-weight: bold;
    padding: 2px 9px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--light-bg-color);
    right: 0.5rem;
    /* transition: all 0.2s ease; */
}

.collapsible-project-header:hover {
    color: var(--text-dark-color);
}

.collapsible-project-item:has(.collapsible-project-header:hover) {
    border-left: 4px solid var(--light-bg-color);
}

.collapsible-project-header.active {
    color: var(--accent-color);
}

.collapsible-project-item:has(.collapsible-project-header.active) {
    border-left: 4px solid var(--accent-color);
}
  
.collapsible-project-header.active::after {
    content: "\2212";
    background-color: var(--accent-color);
    color: var(--body-background-color);
}
  
.collapsible-project-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.collapsible-project-header.active ~ .collapsible-project-body {
    max-height: unset;
}

.collapsible-project-description {
    padding: 0.5rem 0;
}

.collapsible-project-description a {
    color: inherit;
    text-decoration: underline dotted var(--accent-color);
}

.collapsible-project-description a:hover {
    color: var(--accent-color);
    text-decoration: none;
    background-color: var(--light-bg-color);
}
  
.collapsible-project-preview {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.project-tags {
    margin-top: 0.5rem;
}

.project-buttons {
    margin: 1rem 0;
}

.preview-image {
    width: 100%;
    max-width: 100%;
}

.preview {
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--body-background-color);
}

.preview:hover {
    background-color: var(--body-background-color);
    color: var(--accent-color);
}

.source {
    margin-left: 0.2rem;
    padding: 0.3rem 0.5rem;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    text-decoration: none;
    color: var(--accent-color);
}

.source:hover {
    background-color: var(--light-bg-color);
    color: var(--accent-color);
}

/* contact section styles */

.contact-intro {
    text-align: center;
    margin-bottom: 2.5rem;
    font-family: "Solitreo", cursive;
}

form {
    display: grid;
    gap: 1.5rem;
    width: min(36rem, 100%);
    font-size: 16px;
    line-height: 1.5;
    margin: var(--min-padding) auto 2rem auto;
}

.form-title {
    font-size: 2em;
    font-weight: 600;
    display: none;
}

.form-description {
    display: none;
}

form-group {
    display: grid;
    gap: var(--min-padding);
    align-items: center;
}

form label {
    display: none;
}

.input, .textarea {
    -webkit-appearance: none;
    width: 100%;
    /* max-width: 425px; */
    /* Fix for Safari/iOS date fields */
    min-height: calc(0.9em + (0.8em * 2) + 0.6em);
    padding: 0.8em;
    font-size: 0.9rem;
    font-family: "Open Sans", sans-serif;
    outline: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    background: #f9f9f9;
    /* background: var(--light-bg-color); */
    transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.input:focus, .textarea:focus {
    background: #ffffff;
}

.input::placeholder, .textarea::placeholder {
    color: #bbbbbb;
}

.textarea {
    min-height: 160px;
    resize: vertical;
}

.submit-button {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.1em;
    padding: 10px 16px;
    color: #ffffff;
    background: var(--text-light-color);
    border: 2px solid var(--text-light-color);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
}

.submit-button:hover {
    background: var(--accent-color);
    border: 2px solid var(--accent-color);
}

.submit-button:active {
    background: var(--text-dark-color);
    border: 2px solid var(--text-dark-color);
}

/* footer section styles */

footer {
    text-align: center;
    font-size: 0.8rem;
    color: var(--text-light-color);
    line-height: 150%;
}

footer .container {
    background-color: var(--nav-background-color);
    background: url('images/04-polish-wood.png');
    box-shadow: 0 -3px 3px -2px hsla(217, 19%, 35%, 0.2);
    padding: var(--min-gap) var(--min-padding);
}

footer p:not(:last-child) {
    margin-bottom: var(--min-padding);
}

footer p:not(:last-child) a {
    color: var(--accent-color);
    text-decoration: none;
}

footer p:last-child {
    font-weight: 300;
}

footer p:last-child a {
    color: var(--text-light-color);
    text-decoration: none;
}

footer p:last-child a:hover {
    color: var(--text-dark-color);
    text-decoration: underline dotted var(--dark-bg-color);
}

.footer-separator {
    color: var(--dark-bg-color);
}

footer hr {
    margin: 1rem auto;
    border: none;
    border-bottom: 4px dotted var(--light-bg-color);
    width: 250px;
}

/* end of footer section styles */

/* All media queries */

@media screen and (max-width: 800px) {

    header .container {
        display: flex;
        flex-direction: column;
    }

    .logo {
        display: flex;
    }

    nav {
        justify-content: right;
        display: none;
    }

    nav ul {
        flex-direction: column;
        align-items: end;
        gap: 0;
    }

    nav li {
        padding: var(--min-padding) 0;
    }

    .nav-toggle-label {
        display: flex;
        position: absolute;
        top: var(--min-padding);
        right: 0;
        padding: var(--min-padding);
    }

    .nav-toggle:checked~nav {
        display: block;
    }

    #hero .hero-left {
        position: absolute;
        top: 0px;
        left: -150px;
        width: 300px;
    }
    
    #hero .hero-right {
        position: absolute;
        top: 0px;
        right: -120px;
        width: 300px;
    }
    
    .hero-headline {
        width: 90%;
        margin: 180px auto 2rem auto;
        text-align: center;
        font-family: "Solitreo", cursive;
        position: relative;
    }
    
    .hero-headline::after {
        content : "";
        position: absolute;
        left    : 40%;
        bottom  : 0;
        height  : 1px;
        width   : 20%;
        border-bottom: 4px dotted var(--light-bg-color);
    }
    
    .hero-headline h3 {
        font-size: 1.8rem;
    }
    
    .hero-headline h1 {
        font-size: 4rem;
    }
    
    .hero-description {
        width: 90%;
        margin: 0 auto;
        color: var(--accent-color);
        text-align: center;
        font-family: "Solitreo", cursive;
        font-size: 1.1rem;
    }

    .about-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .about-left {
        padding: 1rem var(--min-padding) 1.5rem var(--min-padding);
        text-align: center;
        position: relative;
    }

    .about-left::after {
        content : "";
        position: absolute;
        left    : 30%;
        bottom  : 0;
        height  : 2px;
        width   : 35%;
        border-bottom: 4px dotted var(--light-bg-color);
    }

    .about-right {
        padding: 1rem var(--min-padding);
        text-align: center;
        border-left: none;
    }

    .hobbies-div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    .hobby {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 0.5rem;
    }

    .profile-content {
        display: grid;
        grid-template-columns: 1fr;
    }

    .profile-left {
        padding: 1rem var(--min-padding) 1.5rem var(--min-padding);
        text-align: center;
        position: relative;
    }

    .profile-left::after {
        content : "";
        position: absolute;
        left    : 30%;
        bottom  : 0;
        height  : 2px;
        width   : 35%;
        border-bottom: 4px dotted var(--light-bg-color);
    }

    .profile-right {
        padding: 1rem var(--min-padding);
        text-align: left;
        border-left: none;
    }

    .profile-right .courses-list {
        list-style: none;
        margin-left: 0px;
    }

    .profile-right .accent {
        color: transparent;
    }

    .profile-right .accent::after {
        content: '\a';
        white-space: pre;
    }

    .profile-right .course {
        margin-bottom: 1rem;
    }

    .projects-intro {
        text-align: center;
        padding: 0px 0px;
        margin-bottom: 2.5rem;
    }

    .projects-content {
        grid-template-columns: 1fr;
    }

    .projects-content-left {
        display: none;
    }

    .projects-content-right {
        border-left: none;
    }

    .collapsible-project-item {
        padding: 0.8rem 0;
        border-left: none;
        border-bottom: 1px solid var(--accent-color);
    }

    .collapsible-project-item:last-child {
        border-bottom: none;
    }

    .collapsible-project-item:has(.collapsible-project-header.active) {
        border-left: none;
    }

    .collapsible-project-item:has(.collapsible-project-header:hover) {
        border-left: none;
    }

    .collapsible-project-preview {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .contact-intro br {
        display: none;
    }

}